{{>layouts/header}}
<div class="p-5">
    <table class="table">
        <h2>Member</h2>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th colspan="2">Email</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {{#member}}
            <tr>
                <th scope="row">{{id}}</th>
                <td colspan="2">{{email}}</td>
                <td>{{name}}</td>
            </tr>
        {{/member}}
        </tbody>
    </table>
    <a href="/members/{{id}}/edit" class="btn btn-primary">Edit</a>
    <a href="/members/{{id}}/delete" class="btn btn-danger">Delete</a>
    <a href="/members">Go to MemeberList</a>
</div>
{{>layouts/footer}}
