{{>layouts/header}}

<!--<table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">Id</th>-->
<!--        <th colspan="2">Title</th>-->
<!--        <th scope="col">Content</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
        <!--    {{#article}}-->
<!--    <tr>-->
<!--        <th scope="row">{{id}}</th>-->
<!--        <td colspan="2">{{title}}</td>-->
<!--        <td>{{content}}</td>-->
<!--    </tr>-->
        <!--    {{/article}}-->
<!--    </tbody>-->
<!--</table>-->

{{>layouts/footer}}