{{>layouts/header}}

<div class="p-5">
    {{#article}}
        <p>{{id}}</p>
        <h4>{{title}}</h4>
        <p>{{content}}</p>
    {{/article}}
    <a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>
    <a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>
    <a href="/articles">Go to Articles List</a>
</div>

{{>layouts/footer}}
